<div class="container">
    <ul>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Dashboard</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Work Orders</a>
        </li>
        <li>
           <img src="assets/images/dashboard.png">
            <a href="#">Assets</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Inspectations</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Projects</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Invoices</a>
        </li>
        <li>
           <img src="assets/images/dashboard.png">
            <a href="#">Personal</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Inventory</a>
        </li>
        <li>
            <img src="assets/images/dashboard.png">
            <a href="#">Reports</a>
        </li>
    </ul>
</div>
